*{
    margin: 0;
    padding: 0;
}
body{ 
    margin: 0;
    padding: 0;
  display: grid;
grid-template-columns: 100%;
grid-template-areas: 
"aside"
"section";
width: 100%;
}
li{
    list-style: none;
    margin-top: 10px;
    margin-left: 5px;
    text-align: left;
    
}
ul{
    margin-left: 5px;
}
aside{
    background-color:FBC02D ;
    margin: 0;
    justify-content: space-around;
    grid-area: aside;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
}

    

h1{
    border: 10px solid black;
    background-color: black;
    color:FBC02D;
    margin-bottom: 20px;
    text-align: center;
}


.hobbies{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 5px; 
    
}
.c{
    border:1px solid black;
    border-radius: 60%;
    padding: 10px;
    margin: 10px;
}

img{
    border: 5px solid FBC02D  ;
    border-radius: 50%;
    text-align: left;
    
}
header{
    margin: 0;
    padding: 0;
    text-align: center;
}


h2{
    font-size: 40px;
    color: FBC02D ;
    padding-left: 10px;
}
h3{
    font-size: 15px;
    color: black ;
    padding-left: 10px;
}
h4{
    padding: 10px;
    padding-left: 30px;
    font-size: 25px;
  
}

hr{
    border: none;    
    height: 2px;
    background-color:FBC02D ;   
    color: FBC02D;
  } 
  section{
     
      justify-content: space-around;
      text-align: left;
      background-color:white;
      grid-area: section;
      width: 100%;
      margin: 0px;
      padding: 0px;
  }
     

.line{
    display: flex;
}
.icon{
    color:FBC02D  ;
    padding-left: 10px;
}
.clo{
    display: flex;
}
time{
padding:10px 50px 10px 10px ;
    width: 300px;
    
    list-style-type: circle;
}
.circle{
    
    color:FBC02D;
    margin-top: 10px;
}
p{
    text-align: left;
    padding-left: 20px;

}
b{
    padding-bottom: 5px;
}
.ref{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


@media all and (min-width:900px){
    body{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    aside{
        width: 25%;
    }
    section{
        width: 75%;   
    }
}
